
.tab{
    display: inline-block;
    margin-left: 1em;
}
#ann_tab a{
    text-decoration: none;
    /* font-size: 20px; */
    color: white;
    float: left;
    width: 155px;
    background: #660000;
    padding:25px 3px;
    text-align: center;
}
.announce a{
    text-decoration:none;
    color: black;
    font-weight: bold; 
}
marquee { 
    padding:25px;
}

.announce{
    position: relative;
    
}
#ann_tab{
    position: absolute;
    
}
.morq{
    position: absolute;
    background-color: red;
}
.m-text{
    color:rgb(65, 64, 64);
    display: inline-block;
    border-right: 1px solid #660000;
    padding:0 20px;
    font-weight: 500;
}
.last{
    border-right:none;
}
/* section{
    margin-bottom:100px;
} */

@media (max-width:450px) {
    marquee { 
        padding:10px;
    }
    #ann_tab a{
        width: 100px;
        padding:10px 3px;
    }
    section{
        width:100%;
    }
    .announce{
        font-size: 10px;    
    }
}